body {
  background-color: rgba(250, 248, 249, 0.75);
}

.header {
  color: #007bff;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.image-preview {
  position: relative;
}

.remove-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  scale: 1.75;
}

.download-btn {
  background-color: #007bff;
  border-color: #007bff;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
}
